//lletra
$lletra: 'Quicksand', sans-serif;

//Blau fosc
//Aplicat: background Color footer i header
$color_footer: #001B48;

//Blau mig fosc
//Apicat:
$color_blau_migfosc: #004481;

//blau normal
//Aplicat: color background titol
$color_titol: #018AC0;

//Blau cel
//Aplicat: Color botó Acces, registra
$color_boto: #018AC0;

//blau-cel
//Apicat: CANVIAR COLOR LLETRA (WHITE) A ESTE
$blau_clar: #AAFBFF;
