//He indicat que el grid sigui automatic i que el contingut estigui justificat al centre
.body-container {
	grid-template-columns: auto auto;
  justify-content: center;
	//Format del formulari. "flex-direction" per a indicar que volem que el formulari estigui en format de columna.
	//He afegit pading per tenir un poc despaiat a tots els costats
		.formulari {
			display: flex;
		  flex-direction: column;
			flex-wrap: wrap;
		  padding: 1.5em;
			/*
			  ".opcions:" editem els estils dels "inputs".
			  Com podem veure he aplicat un marge de 10px,
			  i una amplada de 250px.
			*/
			// ">" indico que es fill directe "Scoping/Nesting" de .FORMULARI
			>.opcions {
				margin: 10px;
			  width: 250px;
			}
		}
		//Estil de la foto d'usuari
		.foto{
			width: 200px;
			height: 180px;
			justify-content: right;
			margin: auto;
			border: black dashed 2px;
			border-radius: 2px;
			&:hover {
				opacity: 0.8;
			}
		}
		//Estil del boto "Registrat"
		button {
			margin-top: 20px;
			background-color: #dd6b20;
			color: white;
			&:hover {
				opacity: 0.8;
			}
		}
}
//Estils per a que la web sigui responsive
@media (max-width: 992px) {
  //Els contenidors del cos, es faran al 100% del telefono/tablet
	.body-container {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
			//El formulari es partira en diverses columnes
		  //Els inputs es faran mes amples, i mes altes. La lletra s'ampliara
			.formulari {
				display: flex;
				flex-direction: column;
				.opcions {
					width: 92%;
					height: 100%;
					font-size: 2.5em;
					padding-left: 50px;
				}
			}
			//La foto es fara al 50% d'amplada de la web, i es llevaran els bordes i colors de fondo.
		  .foto{
		    width: 50%;
		    background: transparent;
				border: transparent;
				margin: 1em auto;
		  }
		  //El text del boto es fara a 40px
			button {
				font-size: 40px;
			}
	}
}
